.parent{
    margin-top: 100px;
}

.content{
    padding: 38px 40px;
    background: #FFFFFF0A;
    border: 1px solid #5C5C5C;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.min{
    font-weight: 500;
    background: linear-gradient(59.33deg, #D4151C 22.38%, #D35400 87.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.big{
    font-weight: 600;
    font-size: 26px;
    color: #ffffff;
    margin-top: 5px;
    line-height: 30px;
}

.icons{
    display: flex;
    align-items: center;
    gap: 20px;
 }
 
 .icons span{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: #ffffff;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
 }

 .sotset{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
 }

 .sotset p{
    color: #b5b5b5;
 }

 @media (max-width: 600px) {
    .big{
        font-size: 20px;
        text-align: center;
        line-height: 25px;
    }

    .min{
        text-align: center;
    }

    .sotset{
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .content{
        padding: 20px;
    }
}

@media (max-width: 468px){
   .icons{
    gap: 10px;
   }
}